@import '~antd/dist/antd.css';

body{
  padding: 2%;
}
/* for antd table */
tr:nth-of-type(odd) {
  background:#edf7fc;
}
.ant-table-thead > tr > th {
  border-top: 1px solid #578cab;
  border-bottom: 1px solid #578cab;
  padding: 12px 12px;
  text-align:center;
}
.ant-table-tbody > tr > td{
  border-bottom: 1px solid #578cab; 
  padding: 12px 8px;
  text-align:center;
}
.ant-table-tbody tr:hover {
  background-color: #b1d9f0;
}
.row-dragging {
  background: #fafafa;
  border: 1px solid #fff;
}
.row-dragging td {
  padding: 16px;
}
.row-dragging .drag-visible {
  visibility: visible;
}

/* for antd button */
.extractButton{
  margin: 15px 10px 15px 0px;
}



/* for antd form */
.collection-create-form_last-form-item {
  margin-bottom: 0;
}
span > .extractButton{
  float: right;
}
.ant-form {  /*將表格改成三欄式*/
  display: flex;
  flex-flow: wrap;
}
.ant-form-item{  /*將表格改成三欄式*/
  display: block;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 12px;
}
.ant-modal-wrap > div {  /*將表格改成三欄式 修改form寬*/
  width: 60% !important;
}
.ant-form-item-label > label { /*欄位樣式修改*/
  font-size: 16px;
  background-color: beige; 
}
.ant-form label {
  font-size: 16px;
}
.ant-input {   /*欄位樣式修改*/
  border: 1.5px solid #63676e;
}
.ant-select {
  border: 1.5px solid #63676e;
}
.ant-select-arrow {
  color: #63676e;
}
.ant-input-number {
  border: 1.5px solid #63676e;
  width: 100%;
}
.ant-radio-inner { /*欄位樣式修改*/
  border: 1.5px solid #63676e;
}
